body {
	background-color: #468ABD;
}

.fav-icon {
	color: orange;
}

.fav-icon:hover {
	color: #FBBC05 !important;
    text-decoration: none;
}

#location {
    position: relative;
    width: 200px;
}

#location input {
    width: 194px;
}

#location a {
    position: absolute;
    top: -1px;
    right: 3px;
    margin: 3px 0;
    z-index: 10;
}

.nav .text {
	color: #9D9D9D;
}

.weather-hr {
	margin-left: 15px;
}

.nowrap {
	white-space: nowrap;
}