<div class="container">
	<div class="text-center row"> 
		<div class="col-xs-offset-4 col-xs-4 input-group" id="location">
		    <span class="input-group-addon"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
			<input class="form-control" type="text" ng-model="model.zipCode" placeholder="Zipcode"/>
			<a class="btn btn-warning btn-sm" ng-click="model.loadWeatherForZipcode(model.zipCode)"> Update</a>
		</div>
	</div>
	<hr/>
	<div class=row>
		<div class="col-sm-8">
			<h3>Current Weather at {{model.hasPref ? model.pref.name : model.locationName}}
	             <a ng-if="username" class="fav-icon {{model.hasPref ? 'fa fa-star' : 'fa fa-star-o'}}" 
	             	data-trigger="click"
	             	data-placement="bottom" popover></a>
	            <a ng-if="!username" class="fav-icon  fa fa-star-o" uib-tooltip="Please login to add this location as favorite!"></a>
	             <!-- <a ng-click="" ng-if="model.isFavorite" class="fav-icon fa fa-star"></a> -->
	             
	            <!-- Button trigger modal -->
				<small ng-if="username">
					<a href="" class="fav-icon" data-toggle="modal" data-target="#myModal">
					  Saved
					</a>
				</small>
			</h3>
			
			<div class="row">
				<div class="col-xs-1"><img ng-src="{{model.icon}}"></div>
				<div class="col-xs-8"><h4>Current: {{model.main.temp}}</h4> <br/> High: {{model.main.temp_max}} Low: {{model.main.temp_min}} </div>
			</div>
		</div>
		<div class="col-sm-4">
			<ng-map center="[{{model.coordinates.lat}}, {{model.coordinates.lon}}]">
				<!-- <marker position="[{{model.coordinates.lat}}, {{model.coordinates.lon}}]"></marker> -->
			</ng-map>
		</div>
	</div>
	
	<div class="row">
		<h4 class="">Forecast for next 5 days</h4>
        <div class="content">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default" ng-repeat="key in model.sortedForecastKey track by $index">
                    <div class="panel-heading">
                         <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="" data-target="#collapse{{$index}}">
                          {{key}}
                        </a>
                      </h4>

                    </div>
                    <div id="collapse{{$index}}" class="panel-collapse collapse">
                        <div class="panel-body">
                            
                 			<div class="container-fluid">
                 				<div class="row">
                 					<div class="col-sm-1 weather-hr" ng-repeat="element in model.forecast[key]">
                 						<div class="row">
                 							<img ng-src="{{model.getIconImgSrc(element.weather[0].icon)}}"/>
                 						</div>
                 						<div class="row">
                 							<span>{{element.dt_txt.substring(11,16)}}</span>
                 						</div>
                 						<div class="row nowrap">
                 							<span><i class="fa fa-arrow-up" aria-hidden="true"></i> </span> <span>{{element.main.temp_max}}</span>
                 						</div>
                 						<div class="row nowrap">
                 							<span><i class="fa fa-arrow-down" aria-hidden="true"></i> </span> <span>{{element.main.temp_min}}</span>
                 						</div>
                 					</div>
                 				</div>
                 			</div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
	</div>
	
	
	<div id="popover-title" class="hide">
		<span>Add to preference</span>
	</div>
	
	<div id="popover-content" class="hide"> 
		<form>
			<input type='text' placeholder='Location name' ng-model='model.pref.name' /> <br/><br/>
			<label for='local'>Default location?</label> <input name='local' type='checkbox' ng-model='model.pref.local' />
			<br/>
			<div class="text-center">
				<a href='' ng-click='model.removeFav(model.pref)'  class='btn btn-danger btn-xs' ng-show='model.hasPref'>Remove</a>
				<a href='' ng-click='model.addToFav(model.pref.name, model.pref.local)' class='btn btn-success btn-xs'>{{model.hasPref ? 'Update' : 'Add'}}</a>
			</div>
		</form>
	</div>
	
	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	        <h4 class="modal-title" id="myModalLabel">Saved locations</h4>
	      </div>
	      <div class="modal-body">
        	<table class="table">
        		<tr>
        			<th class="text-center">Zipcode</th>
        			<th class="text-center">Name</th>
        			<th class="text-center">Is Local</th>
        		</tr>
        		<tr ng-repeat="pref in model.prefList">
        			<td class="text-center"><a href=""  data-dismiss="modal" ng-click="model.loadWeatherFromPref(pref)">{{pref.weatherPrefPK.zipcode}}</a></td>
        			<td class="text-center">{{pref.name}}</td>
        			<td class="text-center">{{pref.local}}</td>
        		</tr>
        	
        	</table>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div>
</div>	


<script>
	$(function(){
	    $('html').click(function(e) {
	        $('.popover').each(function() {
	            if ($(e.target).parents().children('.popover').attr('id')!=($(this).attr('id'))) {
	                $(this).popover('hide');
	            }
	        });
	    });
		
	    $('.popover').click(function(e) {
	        $(this).popover('toggle');
	        e.stopPropagation();
	    });
	});
</script>