<div class="container">
	<div class="text-center row"> 
		<div class="col-xs-offset-4 col-xs-4 input-group" id="location">
		    <span class="input-group-addon"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
			<input class="form-control" type="text" ng-model="model.zipCode" placeholder="Zipcode"/>
			<a class="btn btn-warning btn-sm" ng-click="model.loadWeatherForZipcode(model.zipCode)"> Update</a>
		</div>
	</div>
	<hr/>
	<div class=row>
		<div class="col-sm-8">
			<h3>Current Weather at {{model.locationName}} ({{model.coordinates.lat}}, {{model.coordinates.lon}})
	             <a class="fav-icon fa fa-star-o" 
	             	data-trigger="click"
	             	data-placement="bottom" popover></a>
	             <!-- <a ng-click="" ng-if="model.isFavorite" class="fav-icon fa fa-star"></a> -->
			</h3>
			
			<div class="row">
				<div class="col-xs-1"><img ng-src="{{model.icon}}"></div>
				<div class="col-xs-8"><h4>Current: {{model.main.temp}}</h4> <br/> High: {{model.main.temp_max}} Low: {{model.main.temp_min}} </div>
			</div>
		</div>
		<div class="col-sm-4">
			<ng-map center="[{{model.coordinates.lat}}, {{model.coordinates.lon}}]">
				<!-- <marker position="[{{model.coordinates.lat}}, {{model.coordinates.lon}}]"></marker> -->
			</ng-map>
		</div>
	</div>
	
	<div id="popover-title" class="hide">Add to preference</div>
	<div id="popover-content" class="hide"> 
		<form>
			<input type='text' placeholder='Location name' ng-model='model.currLocation.name' /> <br/><br/>
			<label for='local'>Default location?</label> <input name='local' type='checkbox' checked='model.currLocation.local' />
			<a href='' ng-click='model.addToFav(model.pref)' class='btn btn-success btn-xs'>Add</a>
		</form>
	</div>
</div>